*{
	margin: 0px;
   padding: 0px;
}

body {
	background: #EDEEF0;	
	color: #000;
	direction: ltr;
	font-size: 13px;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
	line-height: 1.154;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	height: 2000px;
}

#pageLayout{
	display: block;
	width: 960px;
	margin: 0px auto;
}

/*Header BEGIN*/
#fullWidthHeader{
	position: fixed;
	height: 42px;
	width: 100%;
	background: #507299;
	margin-top: 0px;
}

header{
	position: fixed;
	height: 42px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 14px;
	background: #507299;
}

#vkLogoConteiner{
	/*display: block;*/
	position: fixed;
	margin-left: 0px;
	margin-top: 0px;
	height: 42px;
	width: 165px;
	cursor: pointer;
}

#vkLogo{
	background-attachment: scroll;
	background-clip: border-box;
	background-image: url(../images/head_icons.png);
	background-origin: padding-box;
	background-position: 0px -98px;
	background-size: auto;
	direction: ltr;
	display: block;
	height: 19px;
	width: 32px;
	margin: 11px 10px 0px 0px;
	text-align:	left;
	-webkit-font-smoothing: subpixel-antialiased;
}

#searchConteiner{
	display: block;
	margin-left:190px;
	height: 42px;
	width: 230px;
	background: #ffdd33;
}
/*Header END*/
/*Left Aside BEGIN*/
#asideLeft{
	width: 149px;
	height: 269px;
}

#navigation{
	margin-top: 43px;
	position: relative;
	padding-bottom: 34px;
	border-bottom: 1px solid #E2E6E9;
}

.navItem{
	display: block;
	padding-left: 33px;
	padding-top: 7px;
	height: calc(28 - 7)px;
	width: calc(157 - 33)px;

	/*Icon BEGIN*/
	background-repeat: no-repeat;
	background-origin: padding-box;
	background-image: url(../images/menu_icon.png);

	/*Font and Text BEGIN*/
	color: #285473;

	/*Posititon BEGIN*/
	margin-left: -5px;
	position: relative;
}

#navItemProfile{
	background-position: 7px 6px;
}
#navItemNews{
	background-position: 7px -917px;
}
#navItemMessages{
	background-position: 7px -21px;
}
#navItemFriends{
	background-position: 7px -77px;
}
#navItemCommunities{
	background-position: 7px -105px;
}
#navItemAudios{
	background-position: 7px -161px;
}
#navItemDocuments{
	background-position: 7px -273px;
}
/*Left Aside END*/
