*{
	margin: 0px;
   padding: 0px;
}

body {
	background: #EDEEF0;	
	color: #000;
	direction: ltr;
	font-size: 16px;
	font-family: Roboto,sans-serif;
	line-height: 16px;
	font-weight: 400;
}

table {
	margin: 30px auto 20px;
}

tr {
	height: 30px;
	background: #ADEB96;
}

td, th {
	padding: 6px 8px;
	font-weight: 400;
}
td {
	text-align: center;
}

.headRow {
	background: #3FB551;
}

.summText {
	background: #3FB551;
	text-align: right;
	
}

.summCalc {
	background: #3FB551;
}